body {
  margin: 0%;
}

/* this is for top most part */
.ml3,
.letter {
  background-color: cornflowerblue;
  color: #fff;
}
.ml3 {
  overflow: hidden;
  margin: 0;
  padding-top: 0%;
  background-color: white;
  text-align: center;
  font-weight: 900;
  font-size: 3.5em;
}

/* New Navbar css */
li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 3vh;
}
a {
  text-decoration: none;
  /*below I changed the color*/
  color: black;
  /*also changed the font family but that's totally irrelevant*/
  font-family: monospace;
}
a:hover:not(.active) {
  background-color: cadetblue;
}
a:hover,
a.active {
  background-color: rgb(228, 43, 36);
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
nav {
  overflow: hidden;
  width: 100vw;
  background-color: #d6efff;
}
ul {
  display: flex;
}

/* css for slideshow */
.content {
  width: 100vw;
  overflow: hidden;
}
.content .images {
  height: 100%;
  width: 100%;
}
.images img {
  height: 50%;
  width: 100%;
}

/* About part in index */
.abut {
  overflow: hidden;
  text-align: center;
}
.abuth1 {
  color: rgb(217, 241, 110);
}
.abutp {
  text-align: justify;
}

/* this is for branches part */
.left {
  overflow: hidden;
  float: left;
  padding: 1%;
  background-color: 009900;
  width: 30%;
  border: solid black;
}
.mid {
  overflow: hidden;
  float: left;
  padding: 1%;
  background-color: 009900;
  width: 30%;
  border: solid black;
}
.right {
  overflow: hidden;
  float: left;
  padding: 1%;
  background-color: 009900;
  width: 30%;
  border: solid black;
}

/* footer css */
footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: powderblue;
  color: white;
  text-align: center;
  flex-shrink: 0%;
  width: 100vw;
  overflow: hidden;
}
